<div>
	<div style="align: center; width: 50;" class="jumbotron">
		<h2 align="center">Akti u proceduri</h2>
		<br /> <br>
		<div class="container">
			<table>
				<tr>
					<td>Datum predlaganja:</td>
					<td><input type="date" ng-model="search.date"
						class="form-control" style="margin-left: 10px;" /></td>
				</tr>

				<tr>
					<td>Naslov:</td>
					<td><input type="text" ng-model="search.naslov"
						class="form-control" style="margin-top: 10px; margin-left: 10px;" /></td>
				</tr>

				<tr>
					<td colspan="2" style="text-align: center;"><button
							ng-click="search()" class="btn btn-success"
							style="margin-top: 10px;">Pretraga</button></td>
				</tr>
			</table>

			<br /> <br />
			<table class="table">
				<tr>
					<th>Naziv</th>
					<th>Datum</th>
					<th>Vrsta</th>
				</tr>
				<tr ng-repeat="act in actsInProcedure">
					<td width="60%">{{act.naziv.value}}</td>
					<td>{{act.datum.value}}</td>
					<td>{{act.vrsta.value}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>